<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.AdminOrderMapper">

    <!-- 查询所有订单 -->
    <select id="orderInfo" resultType="map">
        select ot.*, bt.bemail
        from shop.orderbasetable ot, shop.busertable bt
        where ot.busertable_id = bt.id
    </select>

    <!-- 删除订单明细 -->
    <delete id="deleteOrderDetail" parameterType="Long">
        delete from shop.orderdetail where id = #{id}
    </delete>

    <!-- 删除订单基础 -->
    <delete id="deleteOrderBase" parameterType="Long">
        delete from shop.orderbasetable where id = #{id}
    </delete>

</mapper>