<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 基于XML的AOP -->
    <!-- 定义目标对象 -->
    <bean id="testDao" class="dynamic.jdk.TestDaoImpl"/>
    <!-- 定义切面 -->
    <bean id="myAspect2" class="aspectj.xml.MyAspect"/>
    <!-- AOP配置 -->
    <aop:config>
        <aop:aspect ref="myAspect2">
            <!--配置切入点-->
            <aop:pointcut id="MyPointCut" expression="execution(* dynamic.jdk.*.*(..))"/>

            <aop:before method="before" pointcut-ref="MyPointCut"/>
            <aop:after method="after" pointcut-ref="MyPointCut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="MyPointCut"/>

        </aop:aspect>
    </aop:config>

</beans>